[IE]
.testStyle {
	background-color:blue;
}
[/IE]

[FF]
.testStyle {
	background-color:blue;
}
[/FF]

[O]
.testStyle {
	background-color:blue;
}
[/O]

[CH]
.testStyle {
	background-color:blue;
}
[/CH]

[S]
.testStyle {
	background-color:blue;
}
[/S]